/* ==UserStyle==
@name           Azure DevOps Modernized
@namespace      codeberg.org/techfoxxo
@version        1.0.1
@description    An Azure DevOps Userstyle with lots of rounded corners and stuff
@author         TechFoxxo <techfoxxo at protonmail dot com>
@homepageURL    https://codeberg.org/techfoxxo/UserStyles
@updateURL      https://codeberg.org/techfoxxo/UserStyles/raw/branch/main/az-devops-modernized.css
@license        CC-BY-SA-4.0
==/UserStyle== */
@-moz-document domain("dev.azure.com") {
    /* Project Overview */
    .bolt-card {
        border-radius: 20px;
        transition: 200ms ease-in-out;
        border: 2px transparent solid;
    }

    .repos-files-hub-page .bolt-card {
        border-radius: 0;
        transition: none;
    }

    li .bolt-card:hover {
        border: 2px #1aa9f3 solid;
    }

    .bolt-list-row:hover {
        background-color: transparent;
    }
    
    .bolt-list-cell-content {
        border-radius: 20px;
        padding: 5px 10px 5px 10px;
        transition: 200ms ease-in-out;
        border: 2px transparent solid;
    }

    .bolt-list-cell-content:hover {
        border: 2px #1aa9f3 solid;
    }

    .bolt-button {
        border-radius: 20px;
        transition: 200ms ease-in-out;
    }

    .bolt-button:hover {
        box-shadow: 0 3.2px 7.2px 0 var(--callout-shadow-color, rgba(0, 0, 0, .132)), 0 .6px 1.8px 0 var(--callout-shadow-secondary-color, rgba(0, 0, 0, .108));
    }

    .bolt-tabbar-tabs,
    .bolt-inline-keyword-filter-bar {
        border: 1px rgb(26, 32, 41) solid;
        border-radius: 20px;
        margin: 0 1em 0 0;
        padding: 0 1em 0 1em;
        background-color: rgba(40, 45, 54, 1);
    }

    .bolt-tab {
        border-radius: 10px;
        transition: 200ms ease-in-out;
    }
    
    .bolt-tabbar-tabs.tall .bolt-tab {
        height: 2rem;

    }

    .bolt-tab:hover {
        background-color: #1aa9f3 !important;
    }

    .bolt-tab-text {
        transition: 200ms ease-in-out;
    }

    .bolt-tab:hover .bolt-tab-text {
        color: #000000;
    }

    .bolt-inline-keyword-filter-bar {
        height: 100%;
        width: 5em;
        transition: 200ms ease-in-out;
        border: 1px rgb(26, 32, 41) solid;
    }

    .bolt-text-filterbaritem-input {
        color: transparent;
        transition: 200ms ease-in-out;
    }

    .bolt-text-filterbaritem-input:focus-within {
        color: inherit;
    }

    .bolt-text-filterbaritem-input:hover {
        color: inherit;
    }

    .bolt-inline-keyword-filter-bar:focus-within {
        border: 1px #1aa9f3 solid;
        width: 20%;
    }

    .bolt-inline-keyword-filter-bar:hover {
        border: 1px #1aa9f3 solid;
        width: 20%;
    }

    .bolt-textfield-inline-tabbar-width .bolt-button {
        display: none;
    }

    .bolt-textfield-inline-tabbar-width:focus-within .bolt-button {
        margin-left: -50px;
        display: inherit;
    }

    .bolt-textfield-inline-tabbar-width:hover .bolt-button {
        margin-left: -50px;
        display: inherit;
    }

    .bolt-textfield {
        background-color: transparent;
        transition: 200ms ease-in-out;
        border-radius: 20px;
    }

    .bolt-textfield-inline:hover:not(.disabled):not(.focused) {
        background-color: transparent;
    }

    .vertical-layout {
        font-family: var(--global-font);
    }

    .bolt-text-filterbaritem-input::placeholder {
        transition: 200ms ease-in-out;
        opacity: 0;
    }

    .expandable-search-header {
        transition: 200ms ease-in-out;
        width: 10%;
    }

    .search {
        border-radius: 20px !important;
    }

    .expandable-search-header:hover {
        width: 20%;
    }

    .expandable-search-header:focus-within {
        width: 30%;
    }

    .search-context--label {
        display: flex;
        border-width: 0 1px 0 0 !important;
        border-radius: 20px;
        margin: 0 1em 0;
    }

    .expandable-search-header:focus-within .search-context--label {
        display: flex;
    }

    .search-help-callout {
        margin-top: +15px;
    }

    .bolt-callout-content {
        border-radius: 20px;
        scrollbar-gutter: unset;
        scrollbar-width: thin;
    }


    .bolt-breadcrumb-item-text {
        font-weight: bold;
    }

    .brand {
        display: none;
    }

    .mectrl_dropdownbody,
    .mectrl_body,
    .mectrl_accountList_container,
    .mectrl_signout,
    .mectrl_trigger,
    .ms-Icon--Search,
    .ms-Icon--Clear{
        border-radius: 20px !important;
    }

    .mectrl_accountList_container {
        border-top: 0;
    }
    
    .search-input-container {
        margin: 0 0 1em -1.5em;
    }
    
    .searchBox {
        border-radius: 20px;
    }
    
    .input-box {
        border-radius: 20px;
    }
    
    .monaco-editor {
        font-family: "Jetbrains Mono" !important;
        --monaco-monospace-font: var(--code-font) !important;
    }
    
    .overflow-guard .margin .margin-view-overlays {
        font-family: var(--code-font) !important;
    }
    
    .monaco-scrollable-element .lines-content .view-lines{
        font-family: var(--code-font) !important;
    }
    
    .vss-Hub.ms-Fabric{
        font-family: var(--global-font) !important;
    }
    
    #__bolt-follow{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .bolt-header-command-item-button #__bolt-save{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    
    :root{
        --code-font: "Jetbrains Mono";
        --global-font: "Ubuntu";
    }
}
