/* ==UserStyle==
@name           GLITCH 95
@namespace      codeberg.org/techfoxxo
@version        0.0.2
@description    A userstyle based on the Win95 designed for Mastodon GlitchSoc instances.
@author         TechFoxxo <techfoxxo at protonmail dot com>
@homepageURL    https://codeberg.org/techfoxxo/UserStyles
@updateURL      https://codeberg.org/techfoxxo/UserStyles/raw/branch/main/glitch95.css
@license        CC-BY-SA-4.0
==/UserStyle== */

@-moz-document domain("wetdry.world") {
    @font-face{
        font-family: w95fa;
        font-style: normal;
        font-weight: 400;
        src: url(https://fonts.cdnfonts.com/s/45697/W95FA.woff);
    }
    
    :root {
        --bg-color: #008080;
        --text-color: #000000;
        --light-text-color: #ffffff;
        --window-bg-color: #b0aa9b;
        --disabled-color: #7f7a6e;
        --white-bg: #f4f3f0;
        --light-shade: #ddd4c6;
        --dark-shade: #747064;
        --window-deco-color: #00007f;
        --dropdown-border-color: var(--dark-shade) !important;
        --dropdown-background-color: var(--window-bg-color) !important;
    }
    
    body, 
    .layout-single-column .ui__header,
    .columns-area__panels__pane--navigational .navigation-panel{
        background: var(--bg-color);
        color: var(--text-color);
    }
    
    body.system-font, .character-counter {
        font-family: w95fa, sans-serif;
    }
    
    .column-header, 
    .tabs-bar__wrapper {
        background: var(--window-deco-color);
        color: var(--light-text-color)
    }
    
    .column > .scrollable {
        background: var(--window-bg-color);
        border-radius: 0;
    }
    
    .columns-area__panels__main {
        padding: 0;
    }
    
    /*Outside Window Borders*/
    .columns-area__panels__main, 
    .icon-button,
    .compose-form__highlightable,
    .text-icon-button,
    .search,
    .navigation-bar,
    .button,
    .reactions-bar__item,
    .button.button-secondary, 
    .dismissable-banner, 
    .warning-banner,
    .status__content .status__content__spoiler-link,
    .account__header__bar .avatar .account__avatar,
    .account__header__tabs__buttons .icon-button,
    .tabs-bar__wrapper, 
    .column-header__back-button {
        border: 3px solid;
        border-color:
            var(--light-shade)
            var(--dark-shade)
            var(--dark-shade)
            var(--light-shade);
    }
    
    /*Inside Window Borders*/    
    .status__content,
    .compose-panel .compose-form__autosuggest-wrapper,
    .search__input,
    .button:disabled, 
    .account__header__bio .account__header__fields,
    .icon-button:hover,
    .button:hover {
        border: 3px solid;
        border-color:
            var(--dark-shade)
            var(--light-shade)
            var(--light-shade)
            var(--dark-shade);
    }
    
    .detailed-status {
        background: var(--white-bg);
    }
    
    .status__content {
        padding: 20px;
        background: var(--white-bg);
    }
    
    .icon-button {
        border-radius: 0;
        padding: 2px;
    }
    
    .compose-form__highlightable {
        padding: 5px;
        background: var(--window-bg-color);
    }
    
    .compose-form .compose-form__buttons-wrapper {
        background: var(--window-bg-color);
        padding: 5px 0;
    }
    
    .compose-form, 
    .compose-form__highlightable, 
    .compose-panel .compose-form__autosuggest-wrapper, 
    .compose-form .compose-form__buttons-wrapper {
        border-radius: 0px;
    }
    
    .compose-form .compose-form__buttons-wrapper .character-counter__wrapper {
        align-self: end;
        margin-inline-end: 0;
    }
    
    .compose-form .compose-form__buttons-wrapper .icon-button, 
    .compose-form .compose-form__buttons-wrapper .text-icon-button {
        box-sizing: revert;
    }
    
    .search, .search__popout {
        background: var(--window-bg-color) ;
    }
    
    .text-icon-button {
        border-radius: 0;   
    }
    
    .search {
        padding: 5px;
        margin: 0 10px 0 10px;
    }
    
    .search__input {
        background: var(--white-bg);
        border-radius: 0;
    }
    
    .navigation-bar {
        background: var(--window-bg-color);
        margin: 10px 10px 0 10px;
        padding: 5px;
    }
    
    .emoji-button img {
        margin: 7px 7px 0;
    }
    
    .compose-form .compose-form__publish .compose-form__publish-button-wrapper button {
        padding: 7px 18px;
    }
    
    .button{
        background: var(--window-bg-color);
        border-radius: 0px;
    }
    
    .button:disabled {
        background: var(--disabled-color);
        border-radius: 0px;
        color: var(--text-color);
    }
    
    a, p, .trends__item__name {
        color: var(--text-color) !important;
    }
    
    .account__avatar {
        filter: saturate(1.8) brightness(1.1);
    }
    
    .reactions-bar__item {
        background: var(--window-bg-color);
    }
    
    .reactions-bar__item__count {
        color: var(--text-color);
    }
    
    .button.button-secondary {
        background: var(--window-bg-color);
    }
    
    .dismissable-banner {
        border-radius: 0;
        background: transparent;
    }
    
    .dismissable-banner__message {    
        color: var(--text-color);
    }
    
    .account__section-headline, .notification__filter-bar {
        background: var(--window-bg-color);
    }
    
    .account__section-headline a.active::before {
        background: var(--window-deco-color) !important;
    }
    
    
    /*Icon/SVG color*/
    .dismissable-banner__action .icon-button, 
    .warning-banner__action .icon-button,
    .icon-button.inverted,
    .text-icon-button,
    .icon-button {
        color: var(--text-color);    
    }
    
    .status__content .status__content__spoiler-link {
        background: var(--window-bg-color);
    }
    
    .status__content .status__content__spoiler-link:focus {
        background: var(--window-bg-color);
    } 
    .status__content .status__content__spoiler-link:hover {
        background: var(--light-shade);    
    }
    
    .account__header__bio .account__header__fields dl {
        background: transparent;
    }
    
    .account__header__bio .account__header__fields {
        background: var(--white-bg);
    }
    
    .account__header__bio .account__header__fields dt {
        color: var(--text-color);
        text-decoration: underline;
    }
    
    .account__header__bio .account__header__fields dd {
        color: var(--text-color);
    }
    
    .account__header__bar .avatar .account__avatar {
        border-radius: 0;
    }
    
    .account__header__tabs__name h1 small,
    .account__action-bar__tab > span {
        color: var(--text-color);
        text-decoration: underline;
    }
    
    .account__header__tabs__name h1 {
        color: var(--light-text-color);
        font-weight: bolder;
    }
    
    .account__action-bar__tab strong {
        color: var(--text-color);
    }
    
    .account__action-bar__tab.active {
        border-bottom: 4px solid var(--window-deco-color);
    }
    
    .button {
        color: var(--text-color);
    }
    
    .account__header__tabs__buttons .icon-button {
        border-radius: 0;
    }
    
    .icon-button:hover {
        background-color: transparent;
        color: var(--text-color);
    }
    
    .icon-button.copyable {
        transition: all 0s;
    }
    
    .button:hover {
        background-color: transparent;
    }
    
    .column-header__back-button {
        background: var(--window-bg-color);
        color: var(--text-color);
        padding: 0;
        margin: 0 10px 5px;
    }
}
